<!DOCTYPE html>
<html>

<head>
  <title>PLO Boi</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



  <!--STYLES-->
  <!--STYLES END-->
</head>

<body ng-app="simulate_plo" ng-controller="PageCtrl" ng-cloak>
  <div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <!-- This creates the mechanism for collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- This is the brand on the left-hand side. -->
      <a href="/#" class="pull-left"><img class="brand" height="29" width="25" src="/images/logo.png"></a>
      <a class="navbar-brand" href="/#">PLO Boi</a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>

  <!-- SUBMIT NEW VIDEO -->
  <section class="the-run-simulation-form col-md-4">
    <h3>Run A Simulation</h3>
    <form ng-submit="runSimulation()">
      <input class="form-control" type="text"
        ng-model="Hand1" ng-disabled="busySimulating" name="Hand1"
        placeholder="e.g. 9 10 11 12"/>
      <input class="form-control" type="text" ng-model="Hand2"
        ng-disabled="busySimulating" name="hand2"
        placeholder="e.g. 0 1 2 3"/>
        <button class="btn btn-success" type="submit" ng-disabled="busySimulating">
          {{busySimulating?'Simulating...':'Simulate'}}
        </button>
      <p class="error" ng-if="simulationError">An error Occurred! Please Check your card formatting and try again! </p>
    </form>
  </section>
</div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
