

/* Format the logo*/
.brand {
  margin-top: 10px;
  margin-left: 10px;
}

/* Center the heading */
.jumboHeading {
  text-align: center;
  padding: 20px 0;
  font-size: 2.5em;
}

/* Center the heading */
.jumboSubHeadingh2 {
  text-align: center;
}

/* Don't display bullet points in list */
.the-list-of-videos {
  li {
    list-style-type: none;
  }
}

.jumbotron {
  text-align: center
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
